<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favorittstopp</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="navbar">
    <div class="nav-container">
        <div class="logo">Ruter#
        </div>

        <ul class="nav-links">
            <li><a href="/">Hjem</a></li>
            <li><a href="/søk">Søk</a></li>
            <li><a href="/kart">Kart</a></li>
            <li><a href="/omoss">Om oss</a></li>
            <li><a href="/favoritt">Favoritter</a></li>
            
        </ul>
    </div>
</div>

<div class="container">

    <h1>⭐ Favorittstopp</h1>

    <div class="departure-card">
        <div>
            <div class="line">Jernbanetorget</div>
            <div class="destination">Oslo sentrum</div>
        </div>
        <div class="time">❤</div>
    </div>

    <div class="departure-card">
        <div>
            <div class="line">Nationaltheatret</div>
            <div class="destination">Tog, T-bane og trikk</div>
        </div>
        <div class="time">❤</div>
    </div>

    <div class="departure-card">
        <div>
            <div class="line">Majorstuen</div>
            <div class="destination">T-baneknutepunkt</div>
        </div>
        <div class="time">❤</div>
    </div>

    <div class="departure-card">
        <div>
            <div class="line">Blindern</div>
            <div class="destination">Universitetsområdet</div>
        </div>
        <div class="time">❤</div>
    </div>

    <a href="/" class="back">← Tilbake til forsiden</a>
    

</div>

</body>
</html>