<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ruter+</title>
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav class="navbar">
            <div class="nav-container">
                <a href="/">
                <div class="logo">Ruter#</div>
                </a>
                <ul class="nav-links">
                    <li><a href="/">Hjem</a></li>
                    <li><a href="/søk">Søk</a></li>
                    <li><a href="/kart">Kart</a></li>
                    <li><a href="/omoss">Om oss</a></li>
                    <li><a href="/favoritt">Favoritter</a></li>
            </ul>
        </div>
    </nav>
    
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1999.2498410480016!2d10.814540776206229!3d59.92799636295824!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46416fe3cc2c0ca9%3A0x673dd817efc08f25!2sKuben%20videreg%C3%A5ende%20skole!5e0!3m2!1sno!2sno!4v1778051375427!5m2!1sno!2sno" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</body>

</html>
